In [3]:
# A class for 20 students (Project I)

girl_names = ["Samantha", "Jade", "Jane", "Claire", "Elizabeth", "Mary", "Susan", "Waje", "Taibat", "Lilian"]

girl_ages = ["17", "16", "17", "18", "16", "18", "17", "20", "19", "17"]

girl_heights = ["5.5", "6.0", "5.4", "5.9", "5.6", "5.5", "6.1", "6.0", "5.7", "5.5"]

girl_scores = ["80", "85", "70", "60", "76", "66", "87", "95", "50", "49"]


boy_names = ["Charles", "Jude", "James", "Kelvin", "Biodun", "Wale", "Kunle", "Matthew", "Tom", "Kayode"]

boy_ages = ["19", "16", "18", "17", "20", "19", "16", "18", "17", "19"]

boy_heights = ["5.7", "5.9", "5.8", "6.1", "5.9", "5.5", "6.1", "5.4", "5.8", "5.7"]

boy_scores = ["74", "87", "75", "68", "66", "78", "87", "98", "54", "60"]

print("Name | Age | Heights | Scores")

for i in range(len(girl_names)):
    print(girl_names[i], girl_ages[i], girl_heights[i], girl_scores[i])

for i in range(len(boy_names)):
    print(boy_names[i], boy_ages[i], boy_heights[i], boy_scores[i])

Name | Age | Heights | Scores
Samantha 17 5.5 80
Jade 16 6.0 85
Jane 17 5.4 70
Claire 18 5.9 60
Elizabeth 16 5.6 76
Mary 18 5.5 66
Susan 17 6.1 87
Waje 20 6.0 95
Taibat 19 5.7 50
Lilian 17 5.5 49
Charles 19 5.7 74
Jude 16 5.9 87
James 18 5.8 75
Kelvin 17 6.1 68
Biodun 20 5.9 66
Wale 19 5.5 78
Kunle 16 6.1 87
Matthew 18 5.4 98
Tom 17 5.8 54
Kayode 19 5.7 60

In [5]:
# Project II
print("Welcome staff member to the Fintech , please proceed... ")

age = int(input("Input your age"))
experience = int(input("How many years of experience do you have? "))

if age >= 55 & experience > 25:
    print("the annual tax revenue you are allowed to have is ₦5,600,000")
    
elif age >= 45 & experience > 10:
    print("The annual tax revenue you are allowed to have is ₦4,480,000")
    
elif age >= 35 & experience > 10:
    print("The annual tax revenue you are allowed to have is ₦1,500,000")
    
elif age < 35 & experience < 10:
     print("The annual revenue you are allowed to have is ₦550.000")

Welcome staff member to the Fintech , please proceed...
Input your age17
How many years of experience do you have? 9